@import '../../global.modules.scss';

.itemBtn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.body {
    width: 100%;
    .center {
        text-align: center;
    }
    .title {
        height: 32px;
        display: block;
    }
}