@import '../../global.modules.scss';

$siderWidth: 240px;

:global(.ant-space-item) {
    padding: 0 !important;
}

.header {
    height: 3*$unit !important;
    line-height: 3*$unit !important;
    background: linear-gradient(to bottom, #e7e7e7 0%, #cccccc 100%) !important;
    border-top: 1px solid rgb(245,244,245) !important;
    border-bottom: 1px solid #c1c1c2 !important;
}
.sider, .content {
    background-color: #f9f9f7 !important;
    position: absolute !important;
    transition-duration: 1s;
}
.sider {
    left: -$siderWidth;
    width: $siderWidth;    
    border-right: $borderForSidebar;
    &.show {
        left: 0;
    }
}
.content {
    padding: 0 $unit;    
    width: 100% !important;
    left: 0;
    &.show {
        width: calc(100% - $siderWidth) !important;
        left: $siderWidth;
    }
}


@media (max-width: 700px) {
    section {
        height: auto !important;
    }
    .header {
        height: 6*$unit !important;
    }
    .sider, .content {
        &.show {
            position: relative !important;
            width: 100%  !important;
            max-width: 100%  !important;
            flex: 1 0 100%   !important;
            height: auto !important;
            left: 0 !important;
            &>div {
                height: auto !important;
            }
        }
    }
    .workSection {
        flex-direction: column !important;
    }
}
@media (max-width: 375px) {
    .header {
        :global(.ant-space) {
            flex-wrap: nowrap !important;
        }
    }
}