@import '../../global.modules.scss';

:global(.ant-btn >span+.anticon) {
    margin-inline-start: 2px;
}
:global(.ant-input-prefix>span) {
    margin-inline-end: 2px !important;
}

.body {
    .hidden {
        display: none;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;   
    .leftRoundBtn {
        border: 1px solid #11111121;
        border-radius: 50%;
        width: $unit !important;
        min-width: $unit !important;
        height: $unit !important;
        line-height: $unit !important;
        &.red {
            background-color: #ec6b60 !important;
        }
        &.yellow {
            background-color: #f5be4f !important;
        }
        &.green {
            background-color: #62c455 !important;
        }
        &:hover {
            filter: brightness(110%);
        }
    }
    .downIcon{
        transform: scale(0.8) !important;
    }
    .btns {
        width: 3*$unit !important;
        height: 2*$unit !important;
        margin: ($unit/2) 0;
        background-color: #f4f4f4 !important;
    }    
    .finderInputDiv {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }
    @media (max-width: 700px) {
        .finderInputDiv {
            justify-content: start;
            width: 100%;
        }
    }
}

